{% extends 'base.html.twig' %}

{% block title %}{{ 'Participants'|trans }}{% endblock %}

{% block body %}
<div class="example-wrapper">
  <h1>Logo</h1>
    <div class="button-container">
        <a href="{{ path('app_main') }}">
            <button class="full-width-button">
                {{ 'Go back'|trans }}
            </button>
        </a>
    </div>
    <table>
        <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'City'|trans }}</th>
                <th>{{ 'Contest'|trans }}</th>
                <th>{{ 'Date'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% if participants|length > 0  %}
            {% for participant in participants %}
                <tr>
                    <td>
                        {{ participant.name }}
                    </td>
                    <td>
                        {{ participant.contest.city }}
                    </td>
                    <td>
                        {{ participant.contest.name }}
                    </td>
                    <td>
                        {{ participant.contest.date|date('d/m/Y') }}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>{{ 'No data'|trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
