{% extends 'base.html.twig' %}

{% block title %}{{ 'Participants'|trans }}{% endblock %}

{% block body %}
<div class="example-wrapper">
  <h1>Logo</h1>
    <table>
        <colgroup>
            <col style="width: 33%;">
            <col style="width: 67%;">
        </colgroup>
        <thead>
            <tr>
                <th>{{ 'Contest'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% if contests|length > 0 %}
            {% for contest in contests %}
                <tr>
                    <td>
                        {{ contest.name }}
                    </td>
                    <td>
                        {{ contest.description }}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2">{{ 'No data'|trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
     <div class="button-container">
        <a href="{{ path('app_main') }}">
            <button class="full-width-button">
                {{ 'Go back'|trans }}
            </button>
        </a>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
.example-wrapper {
    margin: 1em auto;
    width: 90%;
    font: 18px/1.5 sans-serif;
    background-color: #f9f9f9;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 15px;
}

colgroup {
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.75em;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #3498db; 
    color: white;
    font-weight: bold;
}

.full-width-button {
    background-color: #3498db; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align:center
}

.full-width-button:hover {
    background-color: #2980b9;
}

.example-wrapper {
    text-align: center;
    padding: 2rem;
}

.title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
}
</style>
{% endblock %}