{% extends 'base.html.twig' %}

{% block title %}{{ 'Contests'|trans }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Logo</h1>

    <div class="button-container">
        <a href="{{ path('app_main') }}">
            <button class="full-width-button">
                {{ 'Go back'|trans }}
            </button>
        </a>
    </div>
    <table>
        <thead>
            <tr>
                <th>{{ 'Contest'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% if contests|length > 0  %}
            {% for contest in contests %}
                <tr>
                    <td>
                        {{ contest.name }}
                    </td>
                    <td>
                        {{ contest.description }}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No data</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
