{% extends 'base.html.twig' %}

{% block title %}{{ 'Contests'|trans }}{% endblock %}

{% block body %}
<div class="example-wrapper">
  <h1>Logo</h1>
    <table>
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 60%;">
            <col style="width: 10%;">
        </colgroup>
        <thead>
            <tr>
                <th>{{ 'Contest'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Details'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% if contests|length > 0 %}
            {% for contest in contests %}
                <tr>
                    <td>
                        {{ contest.name }}
                    </td>
                    <td>
                        {{ contest.description }}
                    </td>
                    <td class="table-icon">
                        <a href="{{ path('app_contest_detail', {'id': contest.id }) }}" class="table-text">
                           <svg xmlns="http://www.w3.org/2000/svg" height="50" width="50" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>  
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">{{ 'No data'|trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
     <div class="button-container">
        <a href="{{ path('app_main') }}">
            <button class="full-width-button">
                {{ 'Go back'|trans }}
            </button>
        </a>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
.example-wrapper {
    margin: 1em auto;
    width: 90%;
    font: 18px/1.5 sans-serif;
    background-color: #f9f9f9;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

colgroup {
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.75em;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #3498db; 
    color: white;
    font-weight: bold;
}

.full-width-button {
    background-color: #3498db; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align:center
}

.full-width-button:hover {
    background-color: #2980b9;
}

.example-wrapper {
    text-align: center;
    padding: 2rem;
}

.title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.table-text {
    color: black;
}

.table-icon{
    text-align: center;
}
</style>
{% endblock %}